/* ------------Авторизация---------------- */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F8FF;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
}

.enterBtn {
  width: 150px;
  margin-top: 10px;
  background-color: #4682b4;
  border-color: #4682b4;
}

.enterBtn:hover {
  background-color: #f8f8ff;
  border-color: #4682b4;
  color: #4682b4;
}

.myAuth {
  padding: 20px;
  border: 1px solid #adaddd;
  border-radius: 6px;
  text-align: center;
}

.myLogo {
  padding-left: 120px;
  padding-right: 50px;
  padding-bottom: 20px;
}

h2 {
  color: #4682b4;
}

hr {
  border-color: #adaddd;
}

p {
  color: rgb(83, 83, 83);
}

.reg_link {
  text-decoration: none;
  color: #4682b4;
}

.msg {
  background-color: #bddbff;
  color: #1b7ec9;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 2px solid #3d9ae2;
  font-size: 110%;
  font-weight: bold;
}

.slogan {
  color: #4682b4;
}
.slogan2 {
  color: #4682b4;
  margin-left: 110px;
  cursor: pointer;
}
